.main-header {
	padding: 15px 0;
	> *{
		float: left;
		&:not(:first-child){
			border-left: 1px solid #e3e3e3;
		}
	}
	&:after {
		content: " ";
		display: table;
		width: 100%;
		clear: both;
	}
	.user-header {
		float: right;
		border-left: none;
		padding: 0 60px 0 10px;
	}
}


.wrap-notice {
	font-size: 13px;
	padding: 0 9px;
	height: 60px;
	.wraps-massege-notification {
		float: left;
		> a {
			padding: 0 13px;
			text-align: center;
			display: block;
			text-align: center;
			text-decoration: none;
			color: #bebec0;
			position: relative;
			div {
				margin-top: -2px;
			}
		}
	}
	.icon{
		display: inline-block;
		position: relative;
		i {
			background: #fcbc12;
			color: #fff;
			border-radius: 100%;
			position: absolute;
			top: 0;
			font-size: 15px;
			right: 0;
			height: 22px;
			width: 22px;
			border: 2px solid #fff;
			font-style: normal;
			line-height: 14px;
		}
	}
	.icon-messages {
		font-size: 19px;
		margin: 16px 5px 6px;
		i {
			right: -12px;
			top: -16px;
		}
	}
	.icon-missions {
		font-size: 24px;
		margin: 13px 10px 0;
		i {
			right: -11px;
			top: -13px;
		}
	}
}


.user {
	border: 2px solid #00a2e0;
	border-radius: 100%;
	float: right;
	img {
		border-radius: 100%;
		display: block;
		width: 57px;
		height: auto;
	}
}
.user-content {
	margin-right: 72px;
	font-size: 14px;
	color: #bcbcc1;
	line-height: 16px;
	padding-top: 14px;
	b {
		font-size: 20px;
		color: #3c3c3c;
	}
}
.wrap-logo {
	margin: -9px 17px -15px 24px;
	> a {
		display: inline-block;
		margin: 0 6px;
		text-decoration: none;
		vertical-align: middle;
	}
	img {
		display: block;
	}
}

.wrap-settings {
	color: #bebec0;
	font-size: 13px;
	padding: 0 24px;
	height: 60px;
	text-align: center;
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}	
	.icon {
		font-size: 20px;
	}
	.icon-top-tools-icon {
		font-size: 23px;
	}
	.icon-fast-trial {
		font-size: 29px;
	}
	.icon-print {
		font-size: 23px;
	}
	.icon-update {
		font-size: 20px;
	}
	.icon-license-cancel {
		font-size: 27px;
	}
	.icon-car-cancel {
		font-size: 23px;
	}
	.icon-ticket-cancel {
		font-size: 28px;
	}
}


.settings-title {
	background: #f3f3f3;
	float: left;
	height: 100%;
	width: 58px;
	position: relative;
	margin-right: 2px;
	.icon {
		height: 24px;
		display: inline-block;
		margin: 10px 0 0;
	}
	&:before {
		content: " ";
		display: block;
		position: absolute;
		border-left: 5px solid #fff;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		top: 50%;
		left: 100%;
		margin-left: 2px;
		margin-top: -4px;
		z-index: 1;
	}
	&:after {
		content: " ";
		display: block;
		position: absolute;
		border-left: 5px solid #f3f3f3;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		top: 50%;
		left: 100%;
		margin-top: -4px;
		z-index: 2;
	}
}
.settings-content {
	background: #f3f3f3;
	padding: 7px 1px;
	float: left;
	height: 100%;

	&:after {
		content: "";
		display: table;
		width: 100%;
		clear: both;
	}
	> div {
		float: left;
		padding: 0 10px;
	}
	a {
		border: 1px solid #e8e8e8;
		display: block;
		height: 46px;
		width: 46px;
		background: #fff;
		float: left;
		margin-left: 3px;
		line-height: 44px;
		&:first-child {
			margin-left: 0;
		}
		&:hover {
			color: #fff;
			background: #fcbc12;
			border-color: #fff;
		}
		&.acive {
			color: #fff;
			border-color: #fff;
			background: #fcbc12;
		}
	}

}