.main-nav {
	background: #f2fafd;
	border-left: 1px solid #00a2e0;
	border-right: 3px solid #00a2e0;
	border-top: 1px solid #3b8ca9;
	.icon {
		display: inline-block;
		vertical-align: middle;
		margin: -7px 0 -7px 8px;
	}
	.icon-home {
		font-size: 24px;
	}
	.icon-side-menu-ticket {
		font-size: 24px;
	}
	.icon-trial-box {
		font-size: 20px;
		margin-right: -8px;
	}
	.icon-manual-person {
		font-size: 17px;
	}
	.icon-side-menu-person-cancel {
		font-size: 21px;
		margin-right: -3px;
	}
	.icon-manual-car {
		font-size: 16px;
	}
	.icon-side-menu-car-cancel {
		font-size: 19px;
		margin-left: 2px;
	}
	.icon-home-messages-menu-todo {
		margin: -12px -7px -7px -2px;
		font-size: 42px;
	}
	.icon-side-menu-fall {
		font-size: 14px;
		margin: -10px 2px -7px 7px;
	}
	.icon-box {
		font-size: 20px;
		margin: -13px -4px -7px 2px;
	}
	.icon-side-menu-openmenu-link-hover {
		font-size: 13px;
	}
	> div {
		background: #00a2e0;
		margin: 0 -3px 0 -1px;
		width: 187px;
		position: relative;
		z-index: 2;
	}
}
.top-main-nav {
	position: relative;
	height: 40px;
	a {
		text-decoration: none; 
		&:hover {
			text-decoration: none;
		}
	}
	.close-menu {
		background: #92daf2 none repeat scroll 0 0;
		color: #00a2e0;
		font-size: 17px;
		left: 10px;
		padding: 4px;
		position: absolute;
		top: 8px;
	}
	.pin-button {
		color: #92daf2;
		font-size: 18px;
		position: absolute;
		right: 10px;
		top: 10px;
	}
}
.line {
	background-image: url(../images/open-menu-buffer.png);
	height: 17px;
	border-top: 1px solid  rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
}

.menu-content {
	padding: 0;
	list-style: none;
	margin: 0 3px 0 0;
	> li {
		> div {
			> a {
				color: #fff;
				text-decoration: none;
				display: block;
				font-size: 14px;
				padding: 9px 16px;
				border-bottom: 1px solid #3a8eb2;
			}
			ul {
				padding: 0 0 13px 0;
				list-style: none;
				margin-left: 1px;
				background: #f2fafd;
				li {
					a {
						font-size: 14px;
						display: block;
						text-decoration: none;
						color: #454d50;
						background: #f2fafd;
						padding: 3px;
						border-bottom: 1px solid #d3e0e8;
					}
				}
			}
		}
	}

}

.menu-content2 {
	background: #0d3685;
	padding: 1px 15px 1px 0;
	margin: 0 0 0 1px;
	list-style: none;
	li {
		margin: 1px 0 0 0;
		&:first-child {
			margin-top: 0;
		}
	}
	a {
		background: #f2fafd;
		text-decoration: none;
		color: #103387;
		position: relative;
		display: block;
		padding: 5px 5px;
		&:hover {
			.open-menu-button {
				display: block;
			}		
		}
	}
	.open-menu-button {
		position: absolute;
		top: 50%;
		left: 0;
		background: #ccdbee;
		color: #7185aa;
		padding: 3px;
		margin-top: -10px;
		margin-bottom: 0;
		display: none;
	}
}

.menu-open {
	display: none;
}

.menu-ico {
	display: none;
}

.menu-hide {
	background: #00a2e0;
	> div {
		width: 40px;
	}
	.menu-open {
		display: block;
		text-decoration: none;
		padding: 10px 0;
		> i {
			display: block;
			background: #fff;
			width: 24px;
			height: 4px;
			margin: 0 auto 3px;
		}
	}
	.pin-button {
		display: none;
	}
	.close-menu {
		display: none;
	}
	.menu-ico {
		display: block;
		color: #ccecf9;
		line-height: 39px;
		margin: 0;
		text-align: center;
	}
	.menu-content {
		margin-right: 0;
		> li {
			position: relative;
			border-bottom: 1px solid #4bc7ff;
			height: 39px;
			 > div {
			 	position: absolute;
			 	right: 100%;
			 	margin-right: 4px;
			 	top: 7px;
			 	border: 1px solid #00a2e0;
			 	min-width: 120px;
			 	display: none;
			 	> a {
			 		background: #ffba14;
			 		color: #454d50;
			 		border-bottom: none;
			 		.icon {
			 			display: none;
			 		}
			 	}
				&:before {
					content: " ";
					display: block;
					border-left: 12px solid #00a2e0;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					position: absolute;
					left: 100%;
					margin-left: 1px;
					top: 0;
					z-index: 1;
				}
				&:after {
					content: " ";
					display: block;
					border-left: 12px solid #ffba14;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					position: absolute;
					left: 100%;
					top: 0;
					z-index: 2;
				}
				a {
					padding: 3px 10px;
				}
			 }
			 &:hover {
			 	> div {
			 		display: block;
			 	}
			 }
		}
	}
	.menu-content2 {
		padding: 0;
		.open-menu-button {
			display: none !important;
		}

		a {
			text-align: center;
			background: #0188c8;
			color: #bbdef1;
			font-size: 10px;
			line-height: 10px;
			padding: 8px 5px;
			.icon {
				padding: 9px 0 12px 0;
			}
		}
		.icon-home-messages-menu-todo {
			font-size: 31px;
			margin: -16px -1px -13px -2px;
		}
	}
}