.main-column{
	padding: 9px 16px 9px 19px;
	background-color: #f2f2f2;
	border: 1px solid #d0d0d0;
	width: 100%;
}
.bg-white-block{
	background-color: #ffffff;
	border: 1px solid #e7e7e7;
	padding: 5px;
	overflow: hidden;
}
.blue-link{
	color: #3a98d6;
	text-decoration: none;
}