$progress-color1: #fbbd12;
$progress-color2: #c02537;
$progress-color3: #00a2e0;
$progress-color4: #949494;
.progress-color1 {
	color: $progress-color1;
}
.progress-color2 {
	color: $progress-color2;	
}

.progress-group {
	margin-bottom: 30px;
}

.progress-group-top {
	font-size: 12px;
	font-style: italic;
	overflow: hidden;
	padding: 15px 0 3px;
	> div {
		float: left;
		margin-right: 24px;
	}
	.icon {
		margin-left: 4px;
		display: inline-block;
		vertical-align: middle;
		font-size: 19px;
	}
}

.progress-group-conntent {
	border: 1px solid #cdcdcd;
	background: #fff;
	width: 82.5%;
	float: left;
	padding: 8px 0;
	> div {
		float: left;
		width: 16.66%;
		padding: 0 5px;
		min-height: 161px;
		border-left: 1px solid #e4e4e4;
		text-align: center;
		&:first-child {
			border-left: none;
		}
	}
}

.ellow-block {
	background: #ffb605;
	font-weight: bold;
	position: relative;
	color: #fff;
	font-size: 34px;
	line-height: 45px;
	padding-top: 36px;
	width: 54px;
	margin: auto;
}
.wrap-number {
	position: absolute;
	right: 100%;
	margin-right: 8px;
	color: #848484;
	top: 10px;
	font-size: 12px;
	font-weight: 700;
	font-style: italic;
	line-height: 20px;
	&:after {
		content: "" ;
		display: block;
		position: absolute;
		left: 100%;
		top: 0;
		margin-left: 2px;
		border-top: 1px dashed #4b3200; 
		width: 70px;
	}
}
.number {
	background: #efefed;
	color: #848484;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	border-radius: 100%;
	margin-top: -14px;
	height: 32px;
	width: 32px;
	text-align: center;
	line-height: 32px;
}
.ellow-text {
	font-size: 12px;
	font-weight: 700;
	color: $progress-color1;
}
.arrow-progress-bottom {
	background: $progress-color2;
	width: 6px;
	position: absolute;
	left: 100%;
	bottom: 8px;
	margin-left: 7px;
	height: 8px;
	&:after {
		content: " ";
		display: block;
		border-top: 8px solid $progress-color2;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		position: absolute;
		top: 100%;
		left: -3px;
	}
}
.arrow-progress-top {
	background: $progress-color4;
	width: 6px;
	position: absolute;
	left: 100%;
	bottom: 0;
	margin-left: 7px;
	height: 8px;
	&:after {
		content: " ";
		display: block;
		border-bottom: 8px solid $progress-color4;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		position: absolute;
		bottom: 100%;
		left: -3px;
	}
}
.text-block-progress {
	font-size: 76px;
	font-weight: 700;
	line-height: 52px;
	padding-top: 30px;
	position: relative;
	display: inline-block;
	margin-bottom: 27px;
	.icon {
		font-size: 22px;
		position: absolute;
		top: 0;
		right: -27px;
	}
	.icon-home-messages-menu-done {
		font-size: 90px;
		position: static;
		display: block;
		margin: -20px 0;
	}
}
.text-block-progress-bottom {
	color: $progress-color1;
}
.text-block-progress-top {
	color: $progress-color2;
}
.border-circle-block {
	height: 83px;
	border-radius: 100%;
	text-align: center;
	line-height: 83px;
	font-weight: 700;
	color: $progress-color1;
	background-image: url(../images/circle.png);
	background-position: 50% 50%;
	width: 83px;
	font-size: 30px;
	margin: 23px auto;
	span {
		font-size: 15px;
	}
}
.top-progress-group-conntent {
	margin-top: 10px;
}
.progress-group-info-wrap {
	float: right;
	width: 17.5%;
	padding-left: 15px;
}
.progress-group-info {
	background: #fff;
	border: 1px solid #cdcdcd;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	> div:not(:first-child) {
		border-top: 1px solid #e4e4e4;
	}
	> div {
		padding: 9px 5px;
		position: relative;
	}
	.icon {
		position: absolute;
		left: 2px;
		bottom: 2px;
		height: 25px;
		line-height: 25px;
		font-size: 14px;
		width: 25px;
		background: #d2d2d2;
		color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
	h6 {
		color: #868686;
		font-size: 12px;
		font-weight: 400;
		margin-top: 0;
	}

}

.progress-group-info-date {
	color: $progress-color3;
	font-size: 30px;
	font-weight: 700;
	margin: 12px 0 9px;
}
.date-red {
	color: $progress-color2;
}

.statistics-block-wrap {
	margin-top: 18px;
}
.statistics-block-wrap .progress-group-conntent {
	width: 66.5%;
	h6 {
		color: #000;
		font-weight: normal;
	}
}
.statistics-block-container {
	float: left;
	width: 15.5%;
	padding-right: 15px;
}
.statistics-block {
	border: 1px solid #cdcdcd;
	background: #fff;
	color: #12397c;
	padding: 10px;
	text-align: center;
	h6 {
		border-top: 1px solid #12397c;
		line-height: 30px;
	}
	.icon-statistics {
		font-size: 65px;
		height: 103px;
		padding-top: 18px;
	}
}

.line-text {
	position: relative;
	margin: 15px 0 21px;
	> span {
		background: #fff;
		padding: 0 10px;
		position: relative;
		z-index: 2;
	}
	&:after {
		content: " ";
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		top: 6px;
		background: #00a2e0;
		height: 1px;
	}
}

.progress-group-info-time {
	font-size: 24px;
	margin: 10px 0;
	font-weight: 700;
}
.edit-block-group-info {
	position: relative;
	background: #e7e7e7;
	text-align: center;
	margin-top: -5px;
	line-height: 29px;
	margin-bottom: 14px;
	.icon {
		background: #bfbfbf;
	}
}