.main-sidebar{
	background-color: #f8f8f8;
	border-right: 1px solid #cccccc;
	> div {
		width: 33.54vw;
	}
	.column-width{
		width: 48.54vw;
	}

}
.sidebar-header{
	background-color: #00a3e0;
	position: relative;
	padding: 18px 12px 6px;
	color: #ffffff;
	.btn{
		float: left;
		margin-left: 8px;
	}
	.title-large{
		display: inline-block;
		margin: 19px 0 2px 8px;
	}
	.icon{
		position: absolute;
		top: 21px;
		left: 32px;
		color: #65c3e5;
	}
	.icon-top-tools-icon{
		font-size: 36px;
	}
	.icon-ticket-cancel{
		font-size: 40px;
		color: #ffffff;
	}
	
}
.bg-light{
	background-color: #75cef0;
	width: 62px;
	height: 62px;
	padding: 9px 16px;
	position: absolute;
	top: 8px;
	left: 18px;
	.icon{
		position: static;
	}
}
.date-block{
	color: #cbcbcb;
	float: left;
	font-size: 13px;
	margin-top: 1px;
}
.horizontal-line{
	height: 1px;
	background-color: #e8e8e8;
}

.close{
	color: #fff;
	font-size: 15px;
	position: absolute;
	right: 14px;
	text-decoration: none;
	top: 11px;
	&:hover, &:focus {
		text-decoration: none;
		color: #fff;
	}
}
.sidebar-content{
	padding: 21px 31px;
	> img{
		max-width: 100%;
	}
}
.sidebar-content-header{
	margin-bottom: 14px;
	h4{
		padding-left: 150px;
		margin-bottom: 4px;
	}
}
.title-large{
	color: #ffffff;
	font-weight: 400;
	font-size: 31px;
}
.green-link{
	color: #94a92a;
	 text-shadow: #f6ffb1 0.1em 0.1em 0.1em;
	 margin: 5px 0 24px;
}
.sender{
	color: #a8a8a8;
	span{
		color: #c7c7c7;
	}
}
.separator{
	margin: 0 4px 0 8px;
	display: inline-block;
}

.list-colored{
	list-style: none;
	padding-right: 0;
	margin-top: 14px;

	.icon{
		line-height: 86px;
		color: #fabb16;
	}
	.icon-update{
		font-size: 38px;
	}
	.icon-ticket-cancel{
		font-size: 50px;
	}
	.icon-data{
		font-size: 42px;
	}
	.icon-add-note{
		font-size: 50px;
		margin-left: 11px;
	}
	.icon-no-restor{
		font-size: 41px;
	}
	.icon-restor{
		font-size: 42px;
	}
	li{
		padding: 8px;
		background-color: #ffffff;
		margin-bottom: 10px;
	}
}
.title-yellow{
	color: #fabb16;
	font-weight: 400;
	font-size: 24px;
	margin-top: 2px;
	margin-bottom: 11px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e5e0e6;
	display: inline-block;
	letter-spacing: 0;
	a{
		color: #fabb16;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.gray-square{
	width: 86px;
	height: 86px;
	background-color: #f8f8f8;
	float: right;
	text-align: center;
}
.list-colored-content{
	margin-right: 86px;
	padding: 0 17px;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 0.65px;
}
