.wrap-table{
	width: 46.4%;
	float: left;
}
td {
	text-align: center;
}
.table-style{
	background-color: #ffffff;
	margin: 0;
	tr{
		&:nth-child(2n+1){
			background-color: #f6f6f6;
		}
	}
	td{
		padding: 4px 3px;
		line-height: 30px;
		border-right: 1px solid #ececec;
		&:first-child {
			border-right: none;
		}
	}
	.icon {
		color: #d3d3d3;
		text-decoration: none;
		font-size: 16.5px;
		display: inline-block;
		vertical-align: middle;
		&:hover {
			text-decoration: none;
		}
	}
}
.header-style-gray{
	background-color: #d3d3d3;
	padding: 7px 17px 7px 9px;
	color: #5b5b5b;
	font-weight: 600;
	font-size: 18px;
	position: relative;
	line-height: 26px;
	margin-bottom: 2px;
	.dropdown {
		width: 196px;
		position: absolute;
		left: 8px;
		top: 5px;
	}
	.dropdown-content {
		margin-top: 2px;
	}
}
.date{
	background-color: #d3d3d3;
	color: #5c5c5c;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	padding: 6px 3px;
	width: 65px;
	text-align: center;
	float: right;
	margin-left: 8px;
	min-height: 30px;
}
