.wrap-table{
	width: 46.4%;
	float: left;
}
td {
	text-align: center;
}
.table-style{
	background-color: #ffffff;
	margin: 0;
	tr{
		&:nth-child(2n+1){
			background-color: #f6f6f6;
		}
	}
	td{
		padding: 4px 3px;
		line-height: 30px;
		border-right: 1px solid #ececec;
		&:first-child {
			border-right: none;
		}
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.icon {
		color: #d3d3d3;
		text-decoration: none;
		font-size: 16.5px;
		display: inline-block;
		vertical-align: middle;
		&:hover {
			text-decoration: none;
		}
	}
	thead{
		 td{
			background-color: #ffffff;
			font-weight: 600;
			line-height: 32px;
			> div{
				background-color: #efefef;
				padding: 0 34px;
				min-height: 32px;
			}
		}
		+ tbody{
			tr{
				background-color: #ffffff;
				&:nth-child(2n){
					background-color: #f4f4f4;
				}
				&:nth-child(2n+1){
					background-color: #ffffff;
				}
			}
			td{
				padding: 0 46px;
				line-height: 28px;
			}
		}
	}
}
.header-style-gray{
	background-color: #d3d3d3;
	padding: 7px 17px 7px 9px;
	color: #5b5b5b;
	font-weight: 600;
	font-size: 18px;
	position: relative;
	line-height: 26px;
	margin-bottom: 2px;
	.dropdown {
		width: 196px;
		position: absolute;
		left: 8px;
		top: 5px;
	}
	.dropdown-content {
		margin-top: 2px;
	}
}
.date{
	background-color: #d3d3d3;
	color: #5c5c5c;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	padding: 6px 3px;
	width: 65px;
	text-align: center;
	float: right;
	margin-left: 8px;
	min-height: 30px;
}

.table-bottom-block{
	margin-top: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	.link-icons{
		float: left;
		position: static;
		width: 62px;
		a{
			width: 29px;
			height: 29px;
			line-height: 29px;
		}
		.icon-edit{
			font-size: 20px;
		}
		.icon-manual-plus{
			font-size: 29px;
			line-height: 28px;
		}
	}
}
.gray-block{
	background-color: #e6e7eb;
	min-height: 29px;
	margin-left: 64px;
}
.table-form{
	padding: 65px 0 29px;
	h3{
		margin-top: 42px;
	}
	.bg-white-block{
		margin-bottom: 43px;
	}
}
.bg-white-block-table{
	position: relative;
	padding-bottom: 43px;
}
/*-----------------------------------------------------------------*/
.tables-group{
	background-color: #e0e0e0;
	padding: 5px;
}
.header-style-sapphirine{
	background-color: #12397c;
	color: #ffffff;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	padding: 5px 21px 5px 6px;
	 position: relative;
	 margin-bottom: 5px;
	 > span{
	 	position: relative;
	 	> i{
	 		background-color: #dda;
		    background-image: url("../images/red-circle.jpg");
		    background-position: 0 0;
		    display: block;
		    height: 20px;
		    margin-top: -10px;
		    position: absolute;
		    right: 100%;
		    top: 50%;
		    width: 20px;
		    margin-right: 14px;
	 	}
	 }
}
.table-width{
	padding: 0 3px;
	float: right;
	.icon-marker{
		color: #797979;
		background-color: #d4d4d4;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		text-align: center;
		display: inline-block;
		font-size: 19px;
		line-height: 20px;
	}
	/*.icon-info{
		width: 20px;
		height: 20px;
		line-height: 20px;
	}*/
/*	.icon-car{

	}*/
	.icon-ticket{

	}
}
.row-3{
	margin: 0 -3px;
}
.header-icons{
	float: left;
	.icon-edit{
		width: 30px;
		height: 30px;
		background-color: #4d67a0;
		color: #ffffff;
		font-size: 17px;
		display: block;
		line-height: 30px;
		text-align: center;
		display: inline-block;
	}
	.icon-Person-history-wheel{
		width: 22px;
		height: 22px;
		border-radius: 100%;
		background-color: #a3b0dd;
		font-size: 16px;
		line-height: 22px;
		color: #08306b;
		display: inline-block;
		text-align: center;
		margin-top: 4px;
		position: relative;
		> i{
			background: #f1ad1c none repeat scroll 0 0;
		    border: 2px solid #08306b;
		    border-radius: 100%;
		    color: #fff;
		    font-size: 13px;
		    font-style: normal;
		    height: 20px;
		    line-height: 13px;
		    position: absolute;
		    right: -8px;
		    top: -7px;
		    width: 20px;
		    text-align: center;
		}
	}
	a{
		margin-right: 5px;
	}
}
.table-style2{
	padding: 8px;
	background-color: #ffffff;
	td{
		border-right: none;
		line-height: 17px;
		height: 26px;
	}
}
.text-black{
	color: #3c3c3c;
}