.top-page {
	font-size: 16px;
	padding: 5px 0 14px;
	border-bottom: 1px solid #cdcdcd;
	h1 {
		color: #00a2e0;
		font-size: 21px;
		display: inline-block;
		vertical-align: top;
		margin: 0;

	}
}
.date-style {
	color: #313131;
	margin: 0 16px;
	font-weight: 700;
	font-size: 16px;
}
.time-style {
	color: #3093b2;
	margin: 0 10px;
	font-weight: 700;
}
.buttons-group{
	.date-style{
		margin: 7px 0 0 0;
	}
}