.wrap-massege-notification{
	position: absolute;
	top: 100%;
	left: 0;
	width: 267px;
	padding: 3px 0;
	background-color: #ffffff;
	border: 1px solid #0092d3;
	border-radius: 3px;
	color: #3a3a3a;
	text-align: right;
	z-index: 4;
	line-height: 14px;
	font-size: 12px;
	margin-top: 0;
	&:before, &:after{
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		bottom: 100%;
		left: 50%;
	}
	&:before{
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 12px solid #0092d3;
		margin-left: -10px;
	}
	&:after{
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 11px solid #ffffff;
		margin-left: -9px;
	}
	ul{
		list-style: none;
		padding: 0 5px;
		margin-bottom: 5px;
	}
	li{
		border-bottom: 1px solid #e5e5e5;
		padding: 8px 10px 4px 4px;
		&:last-child{
			border-bottom: none;
		}
	}
	.bottom-block-list{
		color: #8e8e8e;
		font-size: 9px;
		margin-top: 4px;
		> div{
			display: inline-block;
		}
		.left{
			text-align: left;
		}
	}
	.blue-block{
		color: #00a2e0;
		text-align: center;
		border-top: 1px solid #00a2e0;
		margin-top: 7px;
		padding: 2px 0;
		font-size: 11px;
		display: block;
	}
}

