.wrap-top-block-style{
	padding: 18px 0 0;
	.btn{
		display: inline-block;
		font-size: 20px;
		padding: 3px 10px;
		.icon{
			font-size: 26px;
			margin-left: 6px;
			vertical-align: middle;
			padding-bottom: 4px;
			&:first-child{
				margin-left: 15px;
			}
		}
	}
	.text-primary{
		font-size: 20px;
	}
}
.top-block-dashed{
	border: 2px dashed #dadada;
	background-color: #ffffff;
	display: inline-block;
	width: 83%;
	margin-right: -4px;
	vertical-align: middle;
	padding: 6px 0;
	> div{
		float: right; 
		position: relative;
		padding: 0 23px 0 16px;
		line-height: 24px;
	}
	.text-black{
		position: relative;
		padding: 0 7px;
		.vertical-separator-line{
			background-color: #3f3f3f;
			width: 2px;
			right: -1px;
		}
	}
}
.vertical-separator-line{
	background-color: #b4b4b4;
	height: 15px;
	width: 1px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8px;
}