@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?d46suu');
    src:    url('fonts/icomoon.eot?d46suu#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?d46suu') format('truetype'),
        url('fonts/icomoon.woff?d46suu') format('woff'),
        url('fonts/icomoon.svg?d46suu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-side-menu-ticket:before {
    content: "\e932";
}
.icon-side-menu-openmenu-link-hover:before {
    content: "\e934";
}
.icon-side-menu-openmenu-pin:before {
    content: "\e935";
}
.icon-side-menu-person-cancel:before {
    content: "\e936";
}
.icon-side-menu-car-cancel:before {
    content: "\e931";
}
.icon-side-menu-fall:before {
    content: "\e933";
}
.icon-arrow-left:before {
    content: "\e900";
}
.icon-close:before {
    content: "\e901";
}
.icon-arrow-bottom:before {
    content: "\e902";
}
.icon-edit:before {
    content: "\e903";
}
.icon-close2:before {
    content: "\e904";
}
.icon-manual-3dots:before {
    content: "\e905";
}
.icon-manual-asterisk:before {
    content: "\e906";
}
.icon-manual-calendar:before {
    content: "\e907";
}
.icon-manual-car:before {
    content: "\e908";
}
.icon-manual-edit:before {
    content: "\e909";
}
.icon-info:before {
    content: "\e90a";
}
.icon-plus:before {
    content: "\e90b";
}
.icon-car:before {
    content: "\e90c";
}
.icon-ticket:before {
    content: "\e90d";
}
.icon-search:before {
    content: "\e90e";
}
.icon-change-indication:before {
    content: "\e90f";
}
.icon-cors-change:before {
    content: "\e910";
}
.icon-history-change:before {
    content: "\e911";
}
.icon-logo-manat:before {
    content: "\e912";
}
.icon-logo-police:before {
    content: "\e913";
}
.icon-Person-history-wheel:before {
    content: "\e914";
}
.icon-arrow-left2:before {
    content: "\e915";
}
.icon-statistics:before {
    content: "\e916";
}
.icon-manual-error:before {
    content: "\e917";
}
.icon-marker:before {
    content: "\e918";
}
.icon-camera:before {
    content: "\e919";
}
.icon-clover:before {
    content: "\e91a";
}
.icon-ticketicon-dotan:before {
    content: "\e91b";
}
.icon-hand:before {
    content: "\e91c";
}
.icon-inner-change:before {
    content: "\e91d";
}
.icon-sticking:before {
    content: "\e91e";
}
.icon-young:before {
    content: "\e91f";
}
.icon-messages:before {
    content: "\e920";
}
.icon-missions:before {
    content: "\e921";
}
.icon-add-note:before {
    content: "\e922";
}
.icon-car-cancel:before {
    content: "\e923";
}
.icon-data:before {
    content: "\e924";
}
.icon-fast-trial:before {
    content: "\e925";
}
.icon-license-cancel:before {
    content: "\e926";
}
.icon-no-restor:before {
    content: "\e927";
}
.icon-print:before {
    content: "\e928";
}
.icon-restor:before {
    content: "\e929";
}
.icon-top-tools-icon:before {
    content: "\e92a";
}
.icon-ticket-cancel:before {
    content: "\e92b";
}
.icon-update:before {
    content: "\e92c";
}
.icon-trial-box:before {
    content: "\e92d";
}
.icon-box:before {
    content: "\e92e";
}
.icon-box2:before {
    content: "\e92f";
}
.icon-manual-open:before {
    content: "\e93a";
}
.icon-manual-person:before {
    content: "\e93b";
}
.icon-manual-plus:before {
    content: "\e93c";
}
.icon-home-arrow-right:before {
    content: "\e93d";
}
.icon-home-messages-fav:before {
    content: "\e93e";
}
.icon-home-messages-info:before {
    content: "\e93f";
}
.icon-home-messages-menu-all:before {
    content: "\e940";
}
.icon-home-messages-menu-done:before {
    content: "\e941";
}
.icon-home-messages-menu-fav:before {
    content: "\e942";
}
.icon-home-messages-menu-todo:before {
    content: "\e944";
}
.icon-home-messages-menu-trial:before {
    content: "\e945";
}
.icon-home-messages-timer:before {
    content: "\e946";
}
.icon-home-messages-v:before {
    content: "\e947";
}
.icon-home-scan:before {
    content: "\e948";
}
.icon-home-topbar-down:before {
    content: "\e949";
}
.icon-home-topbar-time:before {
    content: "\e94a";
}
.icon-home-topbar-up:before {
    content: "\e94b";
}
.icon-home-arrow-left:before {
    content: "\e94c";
}
.icon-paper-plane:before {
    content: "\f4a0";
}
.icon-home:before {
    content: "\e930";
}
.icon-pin:before {
    content: "\e943";
}

